# Case Study Submission:
## Use Case for Numpy and Pandas - Student: Ginju Soumya

# Libraries and Modules: Import

In [3]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline
#import sqlite3 as db
#from pandasql import sqldf
#import sqlparse
#import pandasql
import scipy as sp
import seaborn as sns
plt.style.use('ggplot')
plt.style.use('seaborn-white')

# Use Cases

 __1.__ Write a Python program which accepts a list named : randomList = ['a', 0, 2]. Use exception handling using try-catch which gives the output as:<br><br>
Output:<br><br>
1) If the List element is an alphabet or string, the output will be:<br><br>
 ```The entry is a```<br>
```Oops! <class 'ValueError'> occured.```<br>
```Next entry.```<br><br>
2) If the List element is “0”,the output will be<br><br>
```The entry is 0```<br>
```Oops! <class 'ZeroDivisionError'> occured.```<br>
```Next entry.```<br><br>
3) If the List element is and integer except 0,then output will be:<br><br>
```The entry is 2```<br>
```The reciprocal of 2 is 0.5 // reciprocal of an integer```<br>

__Solution:__

In [27]:
# importing  module sys to get the type of exception
import sys

randomList = ['a', 0, 2]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except:
        print("Oops!",sys.exc_info()[0],"occured.")
        print("Next entry.")
        print()
print("The reciprocal of",entry,"is",r,"// reciprocal of an integer")

The entry is a
Oops! <class 'ValueError'> occured.
Next entry.

The entry is 0
Oops! <class 'ZeroDivisionError'> occured.
Next entry.

The entry is 2
The reciprocal of 2 is 0.5 // reciprocal of an integer

__2. Array out of Bound Exception:__<br><br>
Write a Python program to give exception “Array Out of Bound” if the user wants to access the
elements beyond the list size (use try and except)<br>

__Solution:__

In [42]:
try:
   l = [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]
   print(l[10])
except:
   print('Array Out of Bounds')

Array Out of Bounds

__3.__ Write a python module script that contains fib2() method to calculate the Fibonacci series till 1000 and save it as fibo.py.<br><br>
_Note : The module created as fibo.py has to be placed in lib folder_<br><br>
_For linux/ubuntu path = /home/anaconda/lib/python3_<br>
_For Windows path = C:\Users\Ajit\Anaconda3\Lib_<br>

In [ ]:
#def fib(n):    # write Fibonacci series up to n
    #a, b = 0, 1
    #while a < n:
        #print (a),
        #a, b = b, a+b

#def fib2(n):   # return Fibonacci series up to n
    #result = []
    #a, b = 0, 1
    #while a < n:
        #result.append(a)
        #a, b = b, a+b
    #return result

In [39]:
import fibo

In [41]:
fibo.fib2(1000)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

4) Write a python module script that contains ispalindrome() method to calculate the input
string as palindrome string or not and save it as palindrome.py.

__Solution:__

In [ ]:
#def ispalindrome(str):    # check input string is palindrome 
    #return str == ''.join(reversed(str))

In [43]:
import palindrome

In [11]:
str="malayalam"
print(palindrome.ispalindrome(str))

True

In [45]:
str="GinjuSoumya"
print(palindrome.ispalindrome(str))

False

__5.__Write a program in Python with one class called __Cipher__.<br><br>
Within the constructor of this class, ask user for a string and store it. Use a static variable, key to store a randomly generated integer between 1 and 50 inclusive.<br> 
Implement two methods, __encrypt__ and __decrypt__ within this class.<br>

 - Encrypt generates and prints a cipher text using the user-entered string and the key and ecrypt generates decrypted string from ciphertext.<br> 
 - The cipher only encrypts alpha and numeric (A-Z, a-z, 0-9). All Symbols, such as - , ; %, remain unencrypted.
 - The cipher text can have special characters.<br> 

Use generator expression to filter out alpha and numeric characters of the input string and to generate cipher text.<br> 
Create an instance of this class, encrypt and decrypt back the user entered string.<br>

__Solution:__

In [71]:
import re
import numpy as np

class Cipher:
    inputText = ""
    key = 0

    def __init__(self, Text, Key):
        # body of the constructor
        self.inputText = Text
        self.key = Key

    def encrypt(self):
        encryptedStr = ""

        inputArr=re.split('(\d+)', self.inputText)
     

        for i in range(len(inputArr)):
            element = inputArr[i]
           

            for i in range(len(element)):
                char = element[i]
               

                # Encrypt uppercase characters
                if (char.isupper()):
                    encryptedStr += chr((ord(char) + self.key-65) % 26 + 65)
                # Encrypt lowercase characters
                elif (char.islower()):
                    encryptedStr += chr((ord(char) + self.key-97) % 26 + 97)
                # Encrypt numeric characters
                elif (char.isdigit()):
                    encryptedStr += chr((ord(char) + self.key-48) % 10 + 48)
                # Do not Encrypt other chars
                else:
                    encryptedStr += char

        return encryptedStr


    def decrypt(self, encryptedStr):
        decryptedStr = ""

        inputArr=re.split('(\d+)', encryptedStr)
 

        # traverse text
        for i in range(len(inputArr)):
            element = inputArr[i]
        

            for i in range(len(element)):
                char = element[i]
           
                # Decrypt uppercase characters
                if (char.isupper()):
                    decryptedStr += chr((ord(char) - self.key-65) % 26 + 65)
                # Decrypt lowercase characters
                elif (char.islower()):
                    decryptedStr += chr((ord(char) - self.key-97) % 26 + 97)
                # Decrypt numeric characters
                elif (char.isdigit()):
                    decryptedStr += chr((ord(char) - self.key-48) % 10 + 48)
                # Do not Decrypt other chars
                else:
                    decryptedStr += char

        return decryptedStr



ip = input('Enter a string for Encryption: ')
key = np.random.randint(1,51)
obj = Cipher(ip, key)

#Encrypted as: 
encrypted = obj.encrypt()
print('Encrypted ' + str(encrypted))

#Decrpyted as:
decrypted = obj.decrypt(encrypted)
print('Decrypted ' + str(decrypted))

Enter a string for Encryption: Ginju.08$
Encrypted Dfkgr.31$
Decrypted Ginju.08$


__6.__ Get Data from the following link:<br><br>
http://files.grouplens.org/datasets/movielens/ml-20m.zip <br><br>
We will be using the following files for this exercise:<br><br>
__ratings.csv : userId,movieId,rating, timestamp<br>
tags.csv : userId,movieId, tag, timestamp<br>
movies.csv : movieId, title, genres__<br><br>
I. Read the dataset using pandas.<br><br>
II. Extract the first row from tags and print its type.<br><br>
III. Extract row 0, 11, 2000 from tags DataFrame.<br><br>
IV. Print index, columns of the DataFrame.<br><br>
V. Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify
using describe().<br><br>
VI. Filter out ratings with rating > 5<br><br>
VII. Find how many null values, missing values are present. Deal with them. Print out how many
rows have been modified.<br><br>
VIII. Filter out movies from the movies DataFrame that are of type 'Animation'.<br><br>
IX. Find the average rating of movies.<br><br>
X. Perform an inner join of movies and tags based on movieId.<br><br>
XI. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.<br><br>
XII. Split 'genres' into multiple columns.<br><br>
XIII. Extract year from title e.g. (1995).<br><br>
XIV. Select rows based on timestamps later than 2015-02-01.<br><br>
XV. Sort the tags DataFrame based on timestamp.<br><br>

__Solution:__

In [230]:
import pandas as pd
import zipfile
from zipfile import ZipFile

In [240]:
import pandas as pd

In [5]:
import zipfile, urllib.request, shutil

url = 'http://files.grouplens.org/datasets/movielens/ml-20m.zip'
file_name = 'myzip.zip'

with urllib.request.urlopen(url) as response, open(file_name, 'wb') as out_file:
    shutil.copyfileobj(response, out_file)
    with zipfile.ZipFile(file_name) as zf:
        zf.extractall('E:/extract')

# I. Read the dataset using pandas.

In [6]:
dfa = pd.read_csv('E:/extract/ml-20m/ratings.csv')
dfa.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [7]:
dfb = pd.read_csv('E:/extract/ml-20m/tags.csv')
dfb.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [8]:
dfc = pd.read_csv('E:/extract/ml-20m/movies.csv')
dfc.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

# II. Extract the first row from tags and print its type.

In [139]:
firstrow_dfb=dfb.iloc[0]
firstrow_dfb

userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object

In [122]:
dfb.dtypes

userId        int64
movieId       int64
tag          object
timestamp     int64
dtype: object

# III. Extract row 0, 11, 2000 from tags DataFrame.

In [138]:
tag_extract = dfb.iloc[[0, 11, 2000]]
tag_extract

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

# IV. Print index, columns of the DataFrame.

In [15]:
#Print index of dataframe Ratings (dfa)
print(dfa.index)

RangeIndex(start=0, stop=2583895, step=1)

In [17]:
#Print coloums of dataframe Ratings (dfa)
print(dfa.columns)

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

# V. Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().

In [115]:
import numpy as np
from pandas import DataFrame as df
from scipy.stats import trim_mean, kurtosis
from scipy.stats.mstats import mode, gmean, hmean

In [122]:
#count
len(dfa.index)

20000263

In [123]:
#mean
dfa.mean()

userId       6.904587e+04
movieId      9.041567e+03
rating       3.525529e+00
timestamp    1.100918e+09
dtype: float64

In [127]:
#std
dfa.std()

userId       4.003863e+04
movieId      1.978948e+04
rating       1.051989e+00
timestamp    1.621694e+08
dtype: float64

In [130]:
#min
dfa.agg([min, max])

     userId  movieId  rating   timestamp
min       1        1     0.5   789652004
max  138493   131262     5.0  1427784002

In [132]:
#25% (quantile), #50% (quantile) Median, #75% (quantile)
dfa.quantile([.25, .5, .75], axis = 0)

        userId  movieId  rating     timestamp
0.25   34395.0    902.0     3.0  9.667977e+08
0.50   69141.0   2167.0     3.5  1.103556e+09
0.75  103637.0   4770.0     4.0  1.225642e+09

In [116]:
dfa.describe()

             userId       movieId        rating     timestamp
count  2.000026e+07  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00  1.100918e+09
std    4.003863e+04  1.978948e+04  1.051989e+00  1.621694e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    3.439500e+04  9.020000e+02  3.000000e+00  9.667977e+08
50%    6.914100e+04  2.167000e+03  3.500000e+00  1.103556e+09
75%    1.036370e+05  4.770000e+03  4.000000e+00  1.225642e+09
max    1.384930e+05  1.312620e+05  5.000000e+00  1.427784e+09

# VI. Filter out ratings with rating > 5

In [81]:
dfa[dfa["rating"] > 5] # no movie is rated >5

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [9]:
dfa[dfa["rating"] >= 5] #so producting >=5 rating of movies

          userId  movieId  rating   timestamp
131            1     4993     5.0  1112484682
142            1     5952     5.0  1112484619
158            1     7153     5.0  1112484633
170            1     8507     5.0  1094786027
176            2       62     5.0   974820598
177            2       70     5.0   974820691
180            2      260     5.0   974821014
181            2      266     5.0   974820748
183            2      480     5.0   974820720
184            2      541     5.0   974821014
185            2      589     5.0   974820658
188            2      924     5.0   974821014
190            2     1196     5.0   974821014
191            2     1210     5.0   974820598
192            2     1214     5.0   974821014
193            2     1249     5.0   974820691
194            2     1259     5.0   974820659
195            2     1270     5.0   974821014
196            2     1327     5.0   974820846
197            2     1356     5.0   974820598
198            2     1544     5.0   974820943
201            2     1748     5.0   974821014
208            2     1974     5.0   974820598
215            2     2948     5.0   974820659
220            2     3450     5.0   974820846
221            2     3513     5.0   974820659
231            2     3927     5.0   974820748
232            2     3928     5.0   974820776
233            2     3930     5.0   974820943
235            2     3959     5.0   974820659
...          ...      ...     ...         ...
20000138  138493     6377     5.0  1256750400
20000145  138493     6711     5.0  1255817636
20000148  138493     6807     5.0  1255809702
20000150  138493     6874     5.0  1255806503
20000153  138493     6942     5.0  1255809672
20000155  138493     7008     5.0  1255809318
20000156  138493     7060     5.0  1258134307
20000157  138493     7090     5.0  1255805219
20000161  138493     7293     5.0  1255817269
20000164  138493     7361     5.0  1255807607
20000165  138493     7371     5.0  1256288607
20000167  138493     7438     5.0  1255806506
20000169  138493     8254     5.0  1255805322
20000178  138493     8905     5.0  1255856919
20000181  138493     8973     5.0  1255811257
20000184  138493    26422     5.0  1256680286
20000185  138493    26776     5.0  1255805879
20000190  138493    27773     5.0  1255806599
20000202  138493    33903     5.0  1255816555
20000209  138493    39183     5.0  1255806612
20000217  138493    44555     5.0  1255806360
20000223  138493    47465     5.0  1256680620
20000225  138493    48082     5.0  1258390139
20000228  138493    48385     5.0  1255817767
20000229  138493    48516     5.0  1255815874
20000230  138493    48780     5.0  1255804799
20000244  138493    55269     5.0  1255816088
20000245  138493    55814     5.0  1255811181
20000251  138493    59784     5.0  1255816901
20000261  138493    70286     5.0  1258126944

[2898660 rows x 4 columns]

# VII. Find how many null values, missing values are present. Deal with them. Print out how many rows have been modified.

In [30]:
#null values/missing values in rating dataset
dfa.isnull().sum(axis = 0)

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [31]:
dfa.isnull().values.any() #confirming no null value in rating dataset

False

In [219]:
#null values/missing values in movies dataset
dfc.isnull().sum(axis = 0)

movieId    0
title      0
genres     0
dtype: int64

In [32]:
dfc.isnull().values.any() #confirming no null value in movie dataset

False

In [192]:
#null values/missing values in tag dataset- 16 missing values
dfb.isnull().sum(axis = 0)

userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [193]:
dfb.isnull().values.any() #confirming null values in tag dataset

True

In [195]:
#null values/missing values in tag dataset- 16 missing values, confirming it
dfb.isnull().sum().sum()

16

In [212]:
#Listing 16 rows with null values/missing values in tag dataset
dfb1 = dfb[dfb.isna().any(axis=1)]
dfb1

        userId  movieId  tag   timestamp
373276  116460      123  NaN  1199450867
373277  116460      346  NaN  1199451946
373281  116460     1184  NaN  1199452261
373288  116460     1785  NaN  1199452006
373289  116460     2194  NaN  1199450677
373291  116460     2691  NaN  1199451002
373299  116460     4103  NaN  1199451920
373301  116460     4473  NaN  1199451040
373303  116460     4616  NaN  1199452441
373319  116460     7624  NaN  1199452266
373325  116460     8898  NaN  1199450757
373332  116460    32460  NaN  1199450901
373334  116460    33826  NaN  1199450703
373339  116460    36537  NaN  1199450736
373340  116460    55805  NaN  1199450941
454615  133634    33826  NaN  1221450908

In [213]:
#16 rows are with null values/missing values in tag dataset is fixed . the missing value (NaN) in tag coloum is changed to "No tag"
dfb1["tag"].fillna("No tag", inplace = True) 
dfb1

        userId  movieId     tag   timestamp
373276  116460      123  No tag  1199450867
373277  116460      346  No tag  1199451946
373281  116460     1184  No tag  1199452261
373288  116460     1785  No tag  1199452006
373289  116460     2194  No tag  1199450677
373291  116460     2691  No tag  1199451002
373299  116460     4103  No tag  1199451920
373301  116460     4473  No tag  1199451040
373303  116460     4616  No tag  1199452441
373319  116460     7624  No tag  1199452266
373325  116460     8898  No tag  1199450757
373332  116460    32460  No tag  1199450901
373334  116460    33826  No tag  1199450703
373339  116460    36537  No tag  1199450736
373340  116460    55805  No tag  1199450941
454615  133634    33826  No tag  1221450908

In [214]:
dfb1.isnull().sum(axis = 0)

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [215]:
dfb1.isnull().values.any()

False

# VIII. Filter out movies from the movies DataFrame that are of type 'Animation'.

In [220]:
dfc.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [226]:
dfc[dfc['genres'].str.contains("Animation")]  # list of all movies which has genres as animation

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,13,Balto (1995),Adventure|Animation|Children
47,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
236,239,"Goofy Movie, A (1995)",Animation|Children|Comedy|Romance
241,244,Gumby: The Movie (1995),Animation|Children
310,313,"Swan Princess, The (1994)",Animation|Children
360,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
388,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation
547,551,"Nightmare Before Christmas, The (1993)",Animation|Children|Fantasy|Musical
553,558,"Pagemaster, The (1994)",Action|Adventure|Animation|Children|Fantasy
582,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical
588,594,Snow White and the Seven Dwarfs (1937),Animation|Children|Drama|Fantasy|Musical
589,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
590,596,Pinocchio (1940),Animation|Children|Fantasy|Musical
604,610,Heavy Metal (1981),Action|Adventure|Animation|Horror|Sci-Fi
610,616,"Aristocats, The (1970)",Animation|Children
624,631,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...
653,661,James and the Giant Peach (1996),Adventure|Animation|Children|Fantasy|Musical
664,673,Space Jam (1996),Adventure|Animation|Children|Comedy|Fantasy|Sc...
697,709,Oliver & Company (1988),Adventure|Animation|Children|Comedy|Musical
708,720,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy
728,741,Ghost in the Shell (Kôkaku kidôtai) (1995),Animation|Sci-Fi
732,745,Wallace & Gromit: A Close Shave (1995),Animation|Children|Comedy
770,783,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance
871,888,Land Before Time III: The Time of the Great Gi...,Adventure|Animation|Children|Musical
1003,1022,Cinderella (1950),Animation|Children|Fantasy|Musical|Romance
1004,1023,Winnie the Pooh and the Blustery Day (1968),Animation|Children|Musical
1005,1024,"Three Caballeros, The (1945)",Animation|Children|Musical
1006,1025,"Sword in the Stone, The (1963)",Animation|Children|Fantasy|Musical
1010,1029,Dumbo (1941),Animation|Children|Drama|Musical
...,...,...,...
27007,129830,Animals United (2011),Animation|Children|Comedy
27008,129834,Tom and Jerry: The Lost Dragon (2014),Animation|Children|Comedy
27018,129859,Mardock Scramble: The Second Combustion (2011),Animation|Sci-Fi
27054,130034,Stand by Me Doraemon (2014),Animation|Children|Drama|Fantasy
27070,130075,Frozen Fever (2015),Adventure|Animation
27103,130394,The Mascot (1934),Animation
27107,130402,Cardcaptor Sakura: The Sealed Card (2000),Adventure|Animation|Comedy|Fantasy|Romance
27129,130506,Berserk: The Golden Age Arc 2 - The Battle for...,Action|Animation|Fantasy
27130,130508,Berserk: The Golden Age Arc - The Egg of the K...,Action|Adventure|Animation|Fantasy|Horror
27131,130510,Berserk: The Golden Age Arc 3 - Descent (2013),Action|Animation|Fantasy
27135,130518,The Amazing Screw-On Head (2006),Action|Adventure|Animation|Comedy|Sci-Fi
27136,130520,Home (2015),Animation|Children|Comedy|Fantasy|Sci-Fi
27137,130522,The Brave Little Toaster Goes to Mars (1998),Animation|Children
27155,130644,The Garden of Sinners - Chapter 5: Paradox Par...,Animation
27205,131058,Santa's Apprentice (2010),Animation|Children
27208,131066,Ronal the Barbarian (2011),Adventure|Animation|Fantasy
27215,131080,Cinderella III: A Twist in Time (2007),Animation|Children|Fantasy|Romance
27218,131086,The Little Polar Bear: Lars and the Little Tig...,Animation|Children
27221,131092,"Mickey, Donald, Goofy: The Three Musketeers (2...",Adventure|Animation|Children|Comedy
27222,131094,Rudolph the Red-Nosed Reindeer: The Movie (1998),Animation|Children
27224,131098,Saving Santa (2013),Animation|Children|Comedy
27226,131102,Lucky Luke: The Ballad of the Daltons (1978),Animation|Children|Comedy|Western
27228,131106,Casper's Haunted Christmas (2000),Animation|Children
27235,131120,Superstar Goofy (1991),Animation|Children|Comedy
27240,131130,Tom and Jerry: A Nutcracker Tale (2007),Animation|Comedy
27241,131132,Kleines Arschloch - Der Film (1997),Animation|Comedy
27247,131144,Werner - Das muss kesseln!!! (1996),Animation|Comedy
27248,131146,Werner - Volles Rooäää (1999),Animation|Comedy
27269,131243,Werner - Gekotzt wird später (2003),Animation|Comedy
27270,131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy

In [222]:
dfc[(dfc['genres']  == 'Animation')] # list of the movies which has genres as only animation

       movieId                                              title     genres
2503      2588                                   Cloudland (1998)  Animation
4906      5002                               Fritz the Cat (1972)  Animation
4907      5003            Nine Lives of Fritz the Cat, The (1974)  Animation
9455     27738                    Cathedral, The (Katedra) (2002)  Animation
9989     32840                                     Vincent (1982)  Animation
13444    66335                  Afro Samurai: Resurrection (2009)  Animation
13858    69469                        Garfield's Pet Force (2009)  Animation
14184    71158                Immigrants (L.A. Dolce Vita) (2008)  Animation
14492    72603                            Merry Madagascar (2009)  Animation
14578    72927                                 Donkey Xote (2007)  Animation
14580    72931                                       Tango (1981)  Animation
14876    74486                                       $9.99 (2008)  Animation
14938    74791   Town Called Panic, A (Panique au village) (2009)  Animation
15085    76709   Spider-Man: The Ultimate Villain Showdown (2002)  Animation
15860    80469                 Superman/Batman: Apocalypse (2010)  Animation
15990    81018          Illusionist, The (L'illusionniste) (2010)  Animation
16551    83603             Fern flowers (Fleur de fougère) (1949)  Animation
16649    84192  Corto Maltese: Ballad of the Salt Sea (Corto M...  Animation
18144    90843  Lavatory Lovestory (Ubornaya istoriya - lyubov...  Animation
18145    90845  Fall of the House of Usher, The (Zánik domu Us...  Animation
18224    91187                                   Millhaven (2010)  Animation
18695    93083                                  Live Music (2009)  Animation
18980    94423  Disney Princess Collection: Jasmine's Enchante...  Animation
19562    96897  Bleach: Fade to Black (Bur&#299;chi Fade to Bl...  Animation
20310    99820  Pokémon the Movie: Black - Victini and Reshira...  Animation
20311    99822  Pokémon the Movie: White - Victini and Zekrom ...  Animation
20314    99832                            Hand, The (Ruka) (1966)  Animation
20527   100509               Tale of Tales (Skazka skazok) (1979)  Animation
20871   102007                    Invincible Iron Man, The (2007)  Animation
20872   102009                       Thor: Tales of Asgard (2011)  Animation
...        ...                                                ...        ...
25207   118948                                   Blackbird (1959)  Animation
25208   118950                                  A Phantasy (1952)  Animation
25211   118956                           Lines: Horizontal (1962)  Animation
25212   118958                                      Mosaic (1966)  Animation
25213   118960                            Begone Dull Care (1949)  Animation
25214   118962                                   Synchromy (1971)  Animation
25538   120853                             Fresh Guacamole (2012)  Animation
25539   120855                                Adam and Dog (2012)  Animation
25663   121302                              Someone's Gaze (2013)  Animation
25718   121600                       Bosko's Parlor Pranks (1934)  Animation
26052   124889    The Adventures of Tom Thumb & Thumbelina (2002)  Animation
26163   125924                           The Periwig-Maker (1999)  Animation
26169   125936                                        Crac (1981)  Animation
26171   125940                                      Syrinx (1966)  Animation
26181   125960                     The Trip to Squash Land (1967)  Animation
26185   125968     It's Christmastime Again, Charlie Brown (1992)  Animation
26189   125976                       Nocturna Artificialia (1979)  Animation
26192   125982                              Trick or Treat (1952)  Animation
26207   126012            The Fat Albert Halloween Special (1977)  Animation
26226   126050                    Stille Nacht I: Dramolet (1988)  Animation
26230   126058            Rehearsals for Extinct Anatomies (1987)  Animation
26236   126070                               Chainsaw Maid (2007)  Animation
26237   126072                        The Little Matchgirl (2006)  Animation
26246   126090                         Hedgehog in the Fog (1975)  Animation
26247   126092                               The Cat's Out (1931)  Animation
26248   126094                Claymation Comedy of Horrors (1991)  Animation
26319   126405        The Adventures of André and Wally B. (1984)  Animation
26809   128864                              Four Sahibjade (2014)  Animation
27103   130394                                  The Mascot (1934)  Animation
27155   130644  The Garden of Sinners - Chapter 5: Paradox Par...  Animation

[83 rows x 3 columns]

# IX. Find the average rating of movies.

In [82]:
dfa.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [43]:
dfa.rating.mean()

3.5162491122897794

In [83]:
dfa.describe()

             userId       movieId        rating     timestamp
count  2.583895e+06  2.583895e+06  2.583895e+06  2.583895e+06
mean   8.742323e+03  8.924588e+03  3.516249e+00  1.098672e+09
std    5.053113e+03  1.953386e+04  1.052135e+00  1.610650e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  8.241339e+08
25%    4.309000e+03  9.040000e+02  3.000000e+00  9.664781e+08
50%    8.805000e+03  2.162000e+03  3.500000e+00  1.098907e+09
75%    1.312100e+04  4.720000e+03  4.000000e+00  1.224413e+09
max    1.750300e+04  1.307840e+05  5.000000e+00  1.427782e+09

# X. Perform an inner join of movies and tags based on movieId.

In [239]:
dfb.head(10) # view tag dataset

   userId  movieId               tag   timestamp
0      18     4141       Mark Waters  1240597180
1      65      208         dark hero  1368150078
2      65      353         dark hero  1368150079
3      65      521     noir thriller  1368149983
4      65      592         dark hero  1368150078
5      65      668         bollywood  1368149876
6      65      898  screwball comedy  1368150160
7      65     1248     noir thriller  1368149983
8      65     1391              mars  1368150055
9      65     1617          neo-noir  1368150217

In [240]:
dfc.head(10) # view movie dataset

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [243]:
#inner join of movies and tags based on movieId
print (pd.merge(dfc, dfb, on='movieId', how='inner'))

        movieId                                          title  \
0             1                               Toy Story (1995)
1             1                               Toy Story (1995)
2             1                               Toy Story (1995)
3             1                               Toy Story (1995)
4             1                               Toy Story (1995)
5             1                               Toy Story (1995)
6             1                               Toy Story (1995)
7             1                               Toy Story (1995)
8             1                               Toy Story (1995)
9             1                               Toy Story (1995)
10            1                               Toy Story (1995)
11            1                               Toy Story (1995)
12            1                               Toy Story (1995)
13            1                               Toy Story (1995)
14            1                               Toy Story (1995)
15            1                               Toy Story (1995)
16            1                               Toy Story (1995)
17            1                               Toy Story (1995)
18            1                               Toy Story (1995)
19            1                               Toy Story (1995)
20            1                               Toy Story (1995)
21            1                               Toy Story (1995)
22            1                               Toy Story (1995)
23            1                               Toy Story (1995)
24            1                               Toy Story (1995)
25            1                               Toy Story (1995)
26            1                               Toy Story (1995)
27            1                               Toy Story (1995)
28            1                               Toy Story (1995)
29            1                               Toy Story (1995)
...         ...                                            ...
465534   131015                                Hellgate (2011)
465535   131015                                Hellgate (2011)
465536   131015                                Hellgate (2011)
465537   131015                                Hellgate (2011)
465538   131015                                Hellgate (2011)
465539   131015                                Hellgate (2011)
465540   131015                                Hellgate (2011)
465541   131015                                Hellgate (2011)
465542   131015                                Hellgate (2011)
465543   131015                                Hellgate (2011)
465544   131015                                Hellgate (2011)
465545   131015                                Hellgate (2011)
465546   131031           La liga no es cosa de hombres (1972)
465547   131031           La liga no es cosa de hombres (1972)
465548   131031           La liga no es cosa de hombres (1972)
465549   131031           La liga no es cosa de hombres (1972)
465550   131031           La liga no es cosa de hombres (1972)
465551   131031           La liga no es cosa de hombres (1972)
465552   131031           La liga no es cosa de hombres (1972)
465553   131031           La liga no es cosa de hombres (1972)
465554   131054  Dinotopia: Quest for the Ruby Sunstone (2005)
465555   131082                              Playground (2009)
465556   131082                              Playground (2009)
465557   131164                           Vietnam in HD (2011)
465558   131170                               Parallels (2015)
465559   131258                             The Pirates (2014)
465560   131258                             The Pirates (2014)
465561   131258                             The Pirates (2014)
465562   131258                             The Pirates (2014)
465563   131258                             The Pirates (2014)

                                             genres  userId  \
0       Adventure|Animation|Children|Comedy|Fantasy    1644
1       Adventure|Animation|Children|Comedy|Fantasy    1741
2       Adventure|Animation|Children|Comedy|Fantasy    1741
3       Adventure|Animation|Children|Comedy|Fantasy    1741
4       Adventure|Animation|Children|Comedy|Fantasy    1741
5       Adventure|Animation|Children|Comedy|Fantasy    2299
6       Adventure|Animation|Children|Comedy|Fantasy    3596
7       Adventure|Animation|Children|Comedy|Fantasy    3596
8       Adventure|Animation|Children|Comedy|Fantasy    3596
9       Adventure|Animation|Children|Comedy|Fantasy    6233
10      Adventure|Animation|Children|Comedy|Fantasy    6233
11      Adventure|Animation|Children|Comedy|Fantasy    8219
12      Adventure|Animation|Children|Comedy|Fantasy   10616
13      Adventure|Animation|Children|Comedy|Fantasy   10616
14      Adventure|Animation|Children|Comedy|Fantasy   10616
15      Adventure|Animation|Children|Comedy|Fantasy   10616
16      Adventure|Animation|Children|Comedy|Fantasy   10616
17      Adventure|Animation|Children|Comedy|Fantasy   10616
18      Adventure|Animation|Children|Comedy|Fantasy   10616
19      Adventure|Animation|Children|Comedy|Fantasy   10616
20      Adventure|Animation|Children|Comedy|Fantasy   10616
21      Adventure|Animation|Children|Comedy|Fantasy   11081
22      Adventure|Animation|Children|Comedy|Fantasy   11081
23      Adventure|Animation|Children|Comedy|Fantasy   11081
24      Adventure|Animation|Children|Comedy|Fantasy   11081
25      Adventure|Animation|Children|Comedy|Fantasy   11081
26      Adventure|Animation|Children|Comedy|Fantasy   11081
27      Adventure|Animation|Children|Comedy|Fantasy   11081
28      Adventure|Animation|Children|Comedy|Fantasy   11081
29      Adventure|Animation|Children|Comedy|Fantasy   11081
...                                             ...     ...
465534                              Horror|Thriller   25978
465535                              Horror|Thriller   25978
465536                              Horror|Thriller   25978
465537                              Horror|Thriller   25978
465538                              Horror|Thriller   25978
465539                              Horror|Thriller   25978
465540                              Horror|Thriller   25978
465541                              Horror|Thriller   25978
465542                              Horror|Thriller   25978
465543                              Horror|Thriller   25978
465544                              Horror|Thriller   25978
465545                              Horror|Thriller   25978
465546                           (no genres listed)   33323
465547                           (no genres listed)   33323
465548                           (no genres listed)   33323
465549                           (no genres listed)   33323
465550                           (no genres listed)   33323
465551                           (no genres listed)   33323
465552                           (no genres listed)   33323
465553                           (no genres listed)   33323
465554                      Children|Fantasy|Sci-Fi   88144
465555                           (no genres listed)   92885
465556                           (no genres listed)   92885
465557                                          War   54560
465558                                       Sci-Fi   88738
465559                                    Adventure   28906
465560                                    Adventure   28906
465561                                    Adventure   28906
465562                                    Adventure   28906
465563                                    Adventure   28906

                                           tag   timestamp
0                                      Watched  1417736680
1                           computer animation  1183903155
2                      Disney animated feature  1183933307
3                              Pixar animation  1183934770
4       TÃ©a Leoni does not star in this movie  1245093573
5                                        Pixar  1403306852
6                                    animation  1290312028
7                                       family  1290312032
8                                    Tom Hanks  1290312036
9                                        Pixar  1387079572
10                                       witty  1387079576
11                                       Pixar  1159534063
12                                   adventure  1277357423
13                                    animated  1277357419
14                                   animation  1277357417
15                                      clever  1277357438
16                                      comedy  1277357433
17                          computer animation  1277357405
18                                      family  1277357449
19                                     fantasy  1277357430
20                                   Tom Hanks  1277357411
21                                      bright  1173304070
22                              DARING RESCUES  1173304095
23                                    fanciful  1173304058
24                              HEROIC MISSION  1173304102
25                                    humorous  1173304049
26                                       light  1173304062
27                                     rousing  1173304074
28                           TOYS COME TO LIFE  1173304091
29                        UNLIKELY FRIENDSHIPS  1173304106
...                                        ...         ...
465534                              Cary Elwes  1427585540
465535                                  Demons  1427585566
465536                                Exorcism  1427585551
465537                                  Ghosts  1427585546
465538                                   Monks  1427585560
465539                                   nurse  1427585621
465540                                 psychic  1427585613
465541                                    slow  1427585575
465542                         special effects  1427585690
465543                                 surfing  1427585592
465544                                Thailand  1427585543
465545                            William Hurt  1427585696
465546                               Barcelona  1427641562
465547                            exploitation  1427641559
465548                         female football  1427641577
465549                                football  1427641548
465550                                    Rome  1427641564
465551                                  shorts  1427641571
465552                                  soccer  1427641556
465553                            transvestite  1427641589
465554                               dinosaurs  1427654430
465555                             documentary  1427654757
465556                          Yoshitomo Nara  1427654856
465557                             Vietnam War  1427667401
465558                       alternate reality  1427732804
465559                                 bandits  1427745421
465560                                   Korea  1427745512
465561                                  mutiny  1427745542
465562                                 pirates  1427745419
465563                                   whale  1427745432

[465564 rows x 6 columns]

# XI. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.

In [52]:
dfmr1=pd.merge(dfc,dfa , on="movieId", how="inner") # joining movie +rating
dfmr1.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821

In [57]:
#movies with genres comedy
comedy=dfmr1[["title","genres", "rating"]][(dfmr1["genres"] == "Comedy") & (dfmr1["rating"] > 4)]
comedy.head(5)

                                    title  genres  rating
11188  Father of the Bride Part II (1995)  Comedy     5.0
11190  Father of the Bride Part II (1995)  Comedy     5.0
11208  Father of the Bride Part II (1995)  Comedy     5.0
11213  Father of the Bride Part II (1995)  Comedy     5.0
11215  Father of the Bride Part II (1995)  Comedy     5.0

# XII. Split 'genres' into multiple columns.

In [251]:
dfc.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [254]:
dfc_split = dfc.join(dfc['genres'].str.split('|', expand=True).add_prefix('genres').fillna(np.nan))
print (dfc_split)

       movieId                                              title  \
0            1                                   Toy Story (1995)
1            2                                     Jumanji (1995)
2            3                            Grumpier Old Men (1995)
3            4                           Waiting to Exhale (1995)
4            5                 Father of the Bride Part II (1995)
5            6                                        Heat (1995)
6            7                                     Sabrina (1995)
7            8                                Tom and Huck (1995)
8            9                                Sudden Death (1995)
9           10                                   GoldenEye (1995)
10          11                     American President, The (1995)
11          12                 Dracula: Dead and Loving It (1995)
12          13                                       Balto (1995)
13          14                                       Nixon (1995)
14          15                            Cutthroat Island (1995)
15          16                                      Casino (1995)
16          17                       Sense and Sensibility (1995)
17          18                                  Four Rooms (1995)
18          19              Ace Ventura: When Nature Calls (1995)
19          20                                 Money Train (1995)
20          21                                  Get Shorty (1995)
21          22                                     Copycat (1995)
22          23                                   Assassins (1995)
23          24                                      Powder (1995)
24          25                           Leaving Las Vegas (1995)
25          26                                     Othello (1995)
26          27                                Now and Then (1995)
27          28                                  Persuasion (1995)
28          29  City of Lost Children, The (Cité des enfants p...
29          30  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
...        ...                                                ...
27248   131146                      Werner - Volles Rooäää (1999)
27249   131148                                  What A Man (2011)
27250   131150         7 Dwarves: The Forest Is Not Enough (2006)
27251   131152                                 The Fat Spy (1966)
27252   131154  Die Bademeister – Weiber, saufen, Leben retten...
27253   131156                         Ants in the Pants 2 (2002)
27254   131158                                Manta, Manta (1991)
27255   131160                  Oscar and the Lady in Pink (2009)
27256   131162                      Por un puñado de besos (2014)
27257   131164                               Vietnam in HD (2011)
27258   131166                                  WWII IN HD (2009)
27259   131168                                     Phoenix (2014)
27260   131170                                   Parallels (2015)
27261   131172                              Closed Curtain (2013)
27262   131174                                   Gentlemen (2014)
27263   131176                             A Second Chance (2014)
27264   131180                     Dead Rising: Watchtower (2015)
27265   131231                                     Standby (2014)
27266   131237                         What Men Talk About (2010)
27267   131239                          Three Quarter Moon (2011)
27268   131241                           Ants in the Pants (2000)
27269   131243                Werner - Gekotzt wird später (2003)
27270   131248                              Brother Bear 2 (2006)
27271   131250                              No More School (2000)
27272   131252  Forklift Driver Klaus: The First Day on the Jo...
27273   131254                       Kein Bund für's Leben (2007)
27274   131256                      Feuer, Eis & Dosenbier (2002)
27275   131258                                 The Pirates (2014)
27276   131260                                Rentun Ruusu (2001)
27277   131262                                   Innocence (2014)

                                            genres             genres0  \
0      Adventure|Animation|Children|Comedy|Fantasy           Adventure
1                       Adventure|Children|Fantasy           Adventure
2                                   Comedy|Romance              Comedy
3                             Comedy|Drama|Romance              Comedy
4                                           Comedy              Comedy
5                            Action|Crime|Thriller              Action
6                                   Comedy|Romance              Comedy
7                               Adventure|Children           Adventure
8                                           Action              Action
9                        Action|Adventure|Thriller              Action
10                            Comedy|Drama|Romance              Comedy
11                                   Comedy|Horror              Comedy
12                    Adventure|Animation|Children           Adventure
13                                           Drama               Drama
14                        Action|Adventure|Romance              Action
15                                     Crime|Drama               Crime
16                                   Drama|Romance               Drama
17                                          Comedy              Comedy
18                                          Comedy              Comedy
19              Action|Comedy|Crime|Drama|Thriller              Action
20                           Comedy|Crime|Thriller              Comedy
21             Crime|Drama|Horror|Mystery|Thriller               Crime
22                           Action|Crime|Thriller              Action
23                                    Drama|Sci-Fi               Drama
24                                   Drama|Romance               Drama
25                                           Drama               Drama
26                                  Children|Drama            Children
27                                   Drama|Romance               Drama
28          Adventure|Drama|Fantasy|Mystery|Sci-Fi           Adventure
29                                     Crime|Drama               Crime
...                                            ...                 ...
27248                             Animation|Comedy           Animation
27249                               Comedy|Romance              Comedy
27250                                       Comedy              Comedy
27251                                       Comedy              Comedy
27252                                       Comedy              Comedy
27253                                       Comedy              Comedy
27254                                       Comedy              Comedy
27255                                        Drama               Drama
27256                                Drama|Romance               Drama
27257                                          War                 War
27258                           (no genres listed)  (no genres listed)
27259                                        Drama               Drama
27260                                       Sci-Fi              Sci-Fi
27261                           (no genres listed)  (no genres listed)
27262                       Drama|Romance|Thriller               Drama
27263                                        Drama               Drama
27264                       Action|Horror|Thriller              Action
27265                               Comedy|Romance              Comedy
27266                                       Comedy              Comedy
27267                                 Comedy|Drama              Comedy
27268                               Comedy|Romance              Comedy
27269                             Animation|Comedy           Animation
27270  Adventure|Animation|Children|Comedy|Fantasy           Adventure
27271                                       Comedy              Comedy
27272                                Comedy|Horror              Comedy
27273                                       Comedy              Comedy
27274                                       Comedy              Comedy
27275                                    Adventure           Adventure
27276                           (no genres listed)  (no genres listed)
27277                     Adventure|Fantasy|Horror           Adventure

         genres1   genres2  genres3   genres4 genres5 genres6 genres7 genres8  \
0      Animation  Children   Comedy   Fantasy     NaN     NaN     NaN     NaN
1       Children   Fantasy      NaN       NaN     NaN     NaN     NaN     NaN
2        Romance       NaN      NaN       NaN     NaN     NaN     NaN     NaN
3          Drama   Romance      NaN       NaN     NaN     NaN     NaN     NaN
4            NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
5          Crime  Thriller      NaN       NaN     NaN     NaN     NaN     NaN
6        Romance       NaN      NaN       NaN     NaN     NaN     NaN     NaN
7       Children       NaN      NaN       NaN     NaN     NaN     NaN     NaN
8            NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
9      Adventure  Thriller      NaN       NaN     NaN     NaN     NaN     NaN
10         Drama   Romance      NaN       NaN     NaN     NaN     NaN     NaN
11        Horror       NaN      NaN       NaN     NaN     NaN     NaN     NaN
12     Animation  Children      NaN       NaN     NaN     NaN     NaN     NaN
13           NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
14     Adventure   Romance      NaN       NaN     NaN     NaN     NaN     NaN
15         Drama       NaN      NaN       NaN     NaN     NaN     NaN     NaN
16       Romance       NaN      NaN       NaN     NaN     NaN     NaN     NaN
17           NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
18           NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
19        Comedy     Crime    Drama  Thriller     NaN     NaN     NaN     NaN
20         Crime  Thriller      NaN       NaN     NaN     NaN     NaN     NaN
21         Drama    Horror  Mystery  Thriller     NaN     NaN     NaN     NaN
22         Crime  Thriller      NaN       NaN     NaN     NaN     NaN     NaN
23        Sci-Fi       NaN      NaN       NaN     NaN     NaN     NaN     NaN
24       Romance       NaN      NaN       NaN     NaN     NaN     NaN     NaN
25           NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
26         Drama       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27       Romance       NaN      NaN       NaN     NaN     NaN     NaN     NaN
28         Drama   Fantasy  Mystery    Sci-Fi     NaN     NaN     NaN     NaN
29         Drama       NaN      NaN       NaN     NaN     NaN     NaN     NaN
...          ...       ...      ...       ...     ...     ...     ...     ...
27248     Comedy       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27249    Romance       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27250        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27251        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27252        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27253        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27254        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27255        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27256    Romance       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27257        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27258        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27259        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27260        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27261        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27262    Romance  Thriller      NaN       NaN     NaN     NaN     NaN     NaN
27263        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27264     Horror  Thriller      NaN       NaN     NaN     NaN     NaN     NaN
27265    Romance       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27266        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27267      Drama       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27268    Romance       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27269     Comedy       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27270  Animation  Children   Comedy   Fantasy     NaN     NaN     NaN     NaN
27271        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27272     Horror       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27273        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27274        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27275        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27276        NaN       NaN      NaN       NaN     NaN     NaN     NaN     NaN
27277    Fantasy    Horror      NaN       NaN     NaN     NaN     NaN     NaN

      genres9
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
...       ...
27248     NaN
27249     NaN
27250     NaN
27251     NaN
27252     NaN
27253     NaN
27254     NaN
27255     NaN
27256     NaN
27257     NaN
27258     NaN
27259     NaN
27260     NaN
27261     NaN
27262     NaN
27263     NaN
27264     NaN
27265     NaN
27266     NaN
27267     NaN
27268     NaN
27269     NaN
27270     NaN
27271     NaN
27272     NaN
27273     NaN
27274     NaN
27275     NaN
27276     NaN
27277     NaN

[27278 rows x 13 columns]

In [255]:
dfc_split.head(10)

,movieId,title,genres,genres0,genres1,genres2,genres3,genres4,genres5,genres6,genres7,genres8,genres9
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure,Animation,Children,Comedy,Fantasy,NaN,NaN,NaN,NaN,NaN
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure,Children,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy,Romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy,Drama,Romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Father of the Bride Part II (1995),Comedy,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,Heat (1995),Action|Crime|Thriller,Action,Crime,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,Sabrina (1995),Comedy|Romance,Comedy,Romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,Tom and Huck (1995),Adventure|Children,Adventure,Children,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,Sudden Death (1995),Action,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,GoldenEye (1995),Action|Adventure|Thriller,Action,Adventure,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# XIII. Extract year from title e.g. (1995).

In [256]:
dfc.head(10)# movies dataset

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [88]:
#Use regex
import re
year = re.findall("(\(\d{4}\))", dfc["title"].iloc[1])
year

['(1995)']

In [101]:
dfc['year'] = dfc['title'].str[-6:]
dfc

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,(1995)
1,2,Jumanji (1995),Adventure|Children|Fantasy,(1995)
2,3,Grumpier Old Men (1995),Comedy|Romance,(1995)
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,(1995)
4,5,Father of the Bride Part II (1995),Comedy,(1995)
5,6,Heat (1995),Action|Crime|Thriller,(1995)
6,7,Sabrina (1995),Comedy|Romance,(1995)
7,8,Tom and Huck (1995),Adventure|Children,(1995)
8,9,Sudden Death (1995),Action,(1995)
9,10,GoldenEye (1995),Action|Adventure|Thriller,(1995)
10,11,"American President, The (1995)",Comedy|Drama|Romance,(1995)
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,(1995)
12,13,Balto (1995),Adventure|Animation|Children,(1995)
13,14,Nixon (1995),Drama,(1995)
14,15,Cutthroat Island (1995),Action|Adventure|Romance,(1995)
15,16,Casino (1995),Crime|Drama,(1995)
16,17,Sense and Sensibility (1995),Drama|Romance,(1995)
17,18,Four Rooms (1995),Comedy,(1995)
18,19,Ace Ventura: When Nature Calls (1995),Comedy,(1995)
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,(1995)
20,21,Get Shorty (1995),Comedy|Crime|Thriller,(1995)
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,(1995)
22,23,Assassins (1995),Action|Crime|Thriller,(1995)
23,24,Powder (1995),Drama|Sci-Fi,(1995)
24,25,Leaving Las Vegas (1995),Drama|Romance,(1995)
25,26,Othello (1995),Drama,(1995)
26,27,Now and Then (1995),Children|Drama,(1995)
27,28,Persuasion (1995),Drama|Romance,(1995)
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,(1995)
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,(1995)
...,...,...,...,...
27248,131146,Werner - Volles Rooäää (1999),Animation|Comedy,(1999)
27249,131148,What A Man (2011),Comedy|Romance,(2011)
27250,131150,7 Dwarves: The Forest Is Not Enough (2006),Comedy,(2006)
27251,131152,The Fat Spy (1966),Comedy,(1966)
27252,131154,"Die Bademeister – Weiber, saufen, Leben retten...",Comedy,(1999)
27253,131156,Ants in the Pants 2 (2002),Comedy,(2002)
27254,131158,"Manta, Manta (1991)",Comedy,(1991)
27255,131160,Oscar and the Lady in Pink (2009),Drama,(2009)
27256,131162,Por un puñado de besos (2014),Drama|Romance,(2014)
27257,131164,Vietnam in HD (2011),War,(2011)
27258,131166,WWII IN HD (2009),(no genres listed),(2009)
27259,131168,Phoenix (2014),Drama,(2014)
27260,131170,Parallels (2015),Sci-Fi,(2015)
27261,131172,Closed Curtain (2013),(no genres listed),(2013)
27262,131174,Gentlemen (2014),Drama|Romance|Thriller,(2014)
27263,131176,A Second Chance (2014),Drama,(2014)
27264,131180,Dead Rising: Watchtower (2015),Action|Horror|Thriller,(2015)
27265,131231,Standby (2014),Comedy|Romance,(2014)
27266,131237,What Men Talk About (2010),Comedy,(2010)
27267,131239,Three Quarter Moon (2011),Comedy|Drama,(2011)
27268,131241,Ants in the Pants (2000),Comedy|Romance,(2000)
27269,131243,Werner - Gekotzt wird später (2003),Animation|Comedy,(2003)
27270,131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy,(2006)
27271,131250,No More School (2000),Comedy,(2000)
27272,131252,Forklift Driver Klaus: The First Day on the Jo...,Comedy|Horror,(2001)
27273,131254,Kein Bund für's Leben (2007),Comedy,(2007)
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,(2002)
27275,131258,The Pirates (2014),Adventure,(2014)
27276,131260,Rentun Ruusu (2001),(no genres listed),(2001)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror,(2014)

# XIV. Select rows based on timestamps later than 2015-02-01.

In [288]:
dfa.head(20) # rating dataset

    userId  movieId  rating   timestamp
0        1        2     3.5  1112486027
1        1       29     3.5  1112484676
2        1       32     3.5  1112484819
3        1       47     3.5  1112484727
4        1       50     3.5  1112484580
5        1      112     3.5  1094785740
6        1      151     4.0  1094785734
7        1      223     4.0  1112485573
8        1      253     4.0  1112484940
9        1      260     4.0  1112484826
10       1      293     4.0  1112484703
11       1      296     4.0  1112484767
12       1      318     4.0  1112484798
13       1      337     3.5  1094785709
14       1      367     3.5  1112485980
15       1      541     4.0  1112484603
16       1      589     3.5  1112485557
17       1      593     3.5  1112484661
18       1      653     3.0  1094785691
19       1      919     3.5  1094785621

In [ ]:
dfa["timestamp"] = pd.to_datetime(dfa["timestamp"], unit='s')
dfa[dfa["timestamp"] > pd.Timestamp(str(20150201))].head()

In [285]:
timestamp

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

# XV. Sort the tags DataFrame based on timestamp.

In [10]:
dfb.head(10) # tag dataset

   userId  movieId               tag   timestamp
0      18     4141       Mark Waters  1240597180
1      65      208         dark hero  1368150078
2      65      353         dark hero  1368150079
3      65      521     noir thriller  1368149983
4      65      592         dark hero  1368150078
5      65      668         bollywood  1368149876
6      65      898  screwball comedy  1368150160
7      65     1248     noir thriller  1368149983
8      65     1391              mars  1368150055
9      65     1617          neo-noir  1368150217

In [291]:
dfb.sort_values(by='timestamp', ascending=True)

        userId  movieId                              tag   timestamp
333932  100371     2788                     monty python  1135429210
333927  100371     1732                    coen brothers  1135429236
333924  100371     1206                  stanley kubrick  1135429248
333923  100371     1193                   jack nicholson  1135429371
333939  100371     5004                    peter sellers  1135429399
333922  100371       47                   morgan freeman  1135429412
333921  100371       47                        brad pitt  1135429412
333936  100371     4011                        brad pitt  1135429431
333937  100371     4011                      guy ritchie  1135429431
333920  100371       32                     bruce willis  1135429442
333933  100371     2858                     kevin spacey  1135429466
333931  100371     2329                     fuckoff nazi  1135429508
333930  100371     2329                    edward norton  1135429508
333944  100371     6016                           brazil  1135429520
15903     3797      110                        overrated  1135589075
256663   75141     4642                         Terrible  1135688095
15926     3797     8573             Nonlinear Surrealism  1135936223
68928    16050    38886                             twee  1136036612
68924    16050    38886                         eighties  1136036612
68925    16050    38886                           family  1136036612
68926    16050    38886                         new york  1136036612
68927    16050    38886                        overrated  1136036612
68919    16050     7060                        christian  1136039301
68921    16050     7060                          musical  1136039301
68920    16050     7060                           kitsch  1136039301
68922    16050     7060                        religious  1136039301
68918    16050     6898                            harsh  1136039368
68916    16050     6898                          british  1136039368
68917    16050     6898                            drugs  1136039368
81444    20513    36529                            truth  1136242623
...        ...      ...                              ...         ...
119997   28906   115149                          violent  1427746031
119991   28906   115149                    lack of story  1427746053
119993   28906   115149                     over the top  1427746060
119989   28906   115149                           cheesy  1427746074
405155  123297   128642                              CLV  1427746337
399877  123297     4211                              CLV  1427746709
400993  123297     6419                              CLV  1427746864
401017  123297     6481                              CLV  1427747220
405123  123297   118722                              CLV  1427747321
400106  123297     4573                              CLV  1427747462
150873   42640   115122                     mockumentary  1427748778
150871   42640   115122                           comedy  1427748797
150872   42640   115122                      dark comedy  1427748808
392905  122523     5004                              USA  1427752289
392904  122523     5004                            party  1427752292
290536   88044   106782              unsatisfying ending  1427753000
290534   88044   106782                           Orgies  1427753111
290529   88044   106782                             ENFP  1427753147
290532   88044   106782             Left-Wing Propaganda  1427753266
290533   88044   106782                Left-Wing Writers  1427753621
290528   88044   106782  Economically Illiterate Writers  1427753739
290530   88044   106782                       inaccurate  1427753806
290531   88044   106782                       Jonah Hill  1427753849
290526   88044   106782                           Amoral  1427753913
290527   88044   106782                            crime  1427753921
290535   88044   106782                        profanity  1427754096
288375   87797      215                           Vienna  1427755801
158763   46072     3409                      premonition  1427760726
158780   46072     6058                      premonition  1427760764
339178  102853   115149                    russian mafia  1427771352

[465564 rows x 4 columns]

## The End

### Expected Output: This assignment consists of 500 marks and has to be submitted in .ipynb/PDF format in the upcoming session for evaluation.